
<!DOCTYPE html>
<html>{% load staticfiles %}
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>cs-analyzing-frontend
</title>
<link href="{% static '/vue/css/app.c53a83104dad35dc6f831a7fbbf5e8e9.css' %}" rel=stylesheet>
</head>
<body>
<div id=app>
</div>
<script type=text/javascript src="{% static '/vue/js/manifest.2ae2e69a05c33dfc65f8.js' %}">
</script>
<script type=text/javascript src="{% static '/vue/js/vendor.257aa22fb8bd56d37338.js' %}">
</script>
<script type=text/javascript src="{% static '/vue/js/app.a0f7c483e1370e42fd48.js' %}">
</script>
</body>
</html>