
<!DOCTYPE html>
<html>{% load staticfiles %}
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>cs-analyzing-frontend
</title>
<link href="{% static '/vue/css/app.1de70313d0870f49816d209968b14acc.css' %}" rel=stylesheet>
</head>
<body>
<div id=app>
</div>
<script type=text/javascript src="{% static '/vue/js/manifest.2ae2e69a05c33dfc65f8.js' %}">
</script>
<script type=text/javascript src="{% static '/vue/js/vendor.84b16434caf049f8962c.js' %}">
</script>
<script type=text/javascript src="{% static '/vue/js/app.5f54b869a75d45917a62.js' %}">
</script>
</body>
</html>