:root {
    --base-green: rgb(99, 168, 52);
    --base-light-gray: lightgray;
    --warning-icon: url("https://icon-library.net/images/warning-icon-svg/warning-icon-svg-18.jpg");
    --loading-icon: url("https://cdn.onlinewebfonts.com/svg/img_370451.png");
    --upload-file-icon: url("https://www.svgrepo.com/show/154688/upload-file.svg");
    --attached-file-icon: url("https://upload.wikimedia.org/wikipedia/commons/0/0c/File_alt_font_awesome.svg");
}
