certifi==2019.9.11
chardet==3.0.4
Django==2.2.6
django-cors-headers==3.1.1
django-environ==0.4.5
djangorestframework==3.10.3
idna==2.8
Pillow==6.2.1
psycopg2==2.8.4
pycryptodome==3.9.0
pytz==2019.3
requests==2.22.0
shellescape==3.4.1
sqlparse==0.3.0
urllib3==1.25.6
xlrd==1.2.0
