<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Core-Sample-Analysis APIs</title>

{#    <script src="https://unpkg.com/vue"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>#}
</head>
<body>
    <h1>Core-Sample-Analysis APIs:</h1>
    <ol>
        <li>GET 'api/workstation' - get the list of information about all workstations</li>
        <li>POST 'api/login' - authentification(getting token)</li>
        <li>GET 'api/testLogin' - test of authentification(getting data by token)</li>
    </ol>

</body>
</html>